body {
	font-family: 'helvetica nueue', arial, sans-serif;
	font-weight: 300;
	background: url(Background.jpg) repeat;
}
.navbar-inverse .navbar-brand {
	font-family: times;
	font-style: 36px;
	color: #ff3061;
	padding-top: 20px;
}
#wrapper {
	width: 960px
	margin: 20px auto;
	color: white;
}
/* Making the H1 red */
h1, h2, h3 {
	color: black;
}
.rating {
  font-size: 1.3em;
  text-transform: none;
  border: 2px solid #ccc;
  padding: 3px;
  vertical-align: middle;
}
#summary {
	color: white;
}
.unicorn {
	color: white;
	font-style: italic;
}
.title {
	color: white;
	font-style: bold;
}
.bullet {
	color: orange;
}
.text {
	color: black;
}
body {
	background: Background.jpg;
}
#marius {
	width: 200px;
	border: 1px solid white;
}